<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info">
	<!-- 启用模板 -->
	<extensions>
		<add assembly="NLog.Web.AspNetCore"/>
	</extensions>
	<!-- 目标文件 -->
	<targets>
		<!-- 全部日志文件  -->
		<target xsi:type="File" name="all" fileName="${basedir}\LogFiles\All\${shortdate}.log"
		        layout="${longdate} | ${uppercase:${level}} | ${logger} | ${message} ${exception:format=tostring}" />

		<!-- 自定义Info、Warning日志文件 -->
		<target xsi:type="File" name="default" fileName="${basedir}\LogFiles\${level}\${shortdate}.log"
		        layout="${longdate} | ${uppercase:${level}} | ${callsite}${newline}内容：${message}${newline}接口：${aspnet-request-url}${newline}==============================================================" />

		<!-- 自定义Error日志文件 -->
		<target xsi:type="File" name="error" fileName="${basedir}\LogFiles\${level}\${shortdate}.log"
		        layout="${longdate} | ${uppercase:${level}} | ${callsite}${newline}内容：${message}${newline}异常：${exception:format=tostring}${newline}接口：${aspnet-request-url}${newline}==============================================================" />
	</targets>
	<!-- 配置目标规则 -->
	<rules>
		<!--全部日志，包括Microsoft-->
		<!--<logger name="*" minlevel="Trace" writeTo="all" />-->

		<!--过滤微软自带日志信息-->
		<logger name="Microsoft.*" maxlevel="Info" final="true" />

		<!-- Info、Warning日志配置 -->
		<logger name="*" minlevel="Trace" maxlevel="Warning" writeTo="default" />

		<!-- Error日志配置 -->
		<logger name="*" level="Error" writeTo="error" />
	</rules>
</nlog>